body{
  margin: 0;
  padding: 0;
  font-family:Georgia;
  box-sizing: border-box;

}

/*layout*/
header {
    background-color: #c40000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
header h2 {
    position: relative;
    left: 5%;
}
header #menu {
    margin-right: 16px;
}



/*navigation*/

header nav {
    flex-basis: 100%;
    display: none;
    flex-direction: column;

}

input[type=checkbox] {
    display: none;
}
input[type=checkbox]:checked ~ nav {
    display: flex;
}
header a {
    color: white;
    text-decoration: none;
    padding: 10px 0;
    background-color: none;
    border-bottom: 1px solid black;
    text-align: center;

    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}
span{
  font-size: 40px;
}


/******our background image******/
.background-image{
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("https://images.pexels.com/photos/258160/pexels-photo-258160.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}


.contents{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 10em;
}
.green h1{
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 48px;
  color: orangered;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-bottom: 6px;
  font-family: Georgia;
}
.underline{
  border-bottom: 3px solid white;
  width: 100%;
  margin: auto;
}
form{
  margin-top: 15px;
}
input{
  font-size: 22px;
  color:rgb(12, 11, 11);
  letter-spacing: 1px;
}
input[type="text"]{
width: 450px;
background-image: url("img/search.png");
height: 47px;
border: none;
outline: none;
padding: 0 25px;
border-radius: 25px 25px 25px 25px;
font-weight: 500;
background-position: 10px 12px; 
background-repeat: no-repeat;
font-family: Georgia;
}


.contents a{
  margin-top: 18px;
  width: 150px;
  border-radius: 35px;
  padding: 14px;
  background: #c40000;
  text-align: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  transition: .5s ease;
}

.contents a:hover{
  box-shadow: 0px 2px 8px black;
}






/*********style our main contents*********/

.main-contents{
  width: 94%;
  margin: 20px auto;
}
.title{
  flex-basis: 100%;
  margin: auto;
  padding: 6px;
  text-transform: capitalize;
  font-weight: 900;
  letter-spacing: 1.3px;
  font-size: 40px;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 16px;

}

.box{
  width: 400px;
  height: 400px;

}

.item1{
 flex-basis: 43%;
 
}

.item1 p{
  text-align: justify;
  margin: auto;
  color: black;
  
  letter-spacing: 1px;
  text-transform: capitalize;
  font-size: 19px;
  padding-right: 12px;
}
.button{
  background: #c40000;
  width: 140px;
  padding: 12px;
  border-radius: 35px;
  left: 52%;
  position: relative;
  margin-top: 3em;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: .5s ease;
}
.button:hover{
  box-shadow: 0px 2px 9px black;
}
.button a{
  color: white;
  text-decoration: none;
}

.item2{
  flex-grow: 1;
 

}
.item2 img{
  width: 730px;
  height: 400px;
}





/**********style my flexbox cards**********/
.cards{
  display: flex;
  flex-wrap: wrap;
  align-items:stretch;
  justify-content: space-evenly;
  width: 94%;
  margin: 40px auto;
}
.card{
  flex-basis: 400px;
  margin: 11px;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  padding-bottom: 40px;
}
.card img{
  width: 100%;
  height: auto;
}
.text h3{
  text-align: center;
  color: black;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-size: 24px;
}
.text-decoration{
  border-bottom: 2px solid gray;
  width: 65%;
  margin: auto;
}

.text p{
  text-align: justify;
  font-weight: 400;
  margin: 14px;
  font-size: 18px;
  line-height: 24px;
}

.card-button{
  width: 160px;
  background: #c40000;
  padding: 14px;
  border-radius: 35px;
  margin:5% 30%;
  color: white;
  font-weight: 700;
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: 1px;
  border: 2px solid rgb(147, 151, 147);
  transition:all .5s ease-in;
}
.card-button:hover{
  box-shadow: 0px 2px 6px rgb(158, 71, 71);
  
}






/*********style my footer*********/
footer{
  background: rgb(39, 38, 38);
  margin-bottom: 0px;
  width: 94%;
  margin: auto;
}
.flex-footer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flex1-footer{
  padding: 30px 25px;
 
}
.flex1-footer h3{
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}
.under{
  border-bottom: 2px solid white;
  width: 95%;
}
.flex1-footer p a{
  text-decoration: none;
  color: white;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 1px;
}
.flex2-footer{
  margin: 30px;
}
.flex2-footer i{
  margin: 20px;
  font-size: 35px;
}
.copy{
  background: black;
  padding: 6px;
  color: white;
  text-align: center;
  text-transform: capitalize;
}
.fa-instagram{
  color:#e4405f ;
}
.fa-facebook-f{
color: #3b5999;
}
.fa-twitter{
 color: #55acee;
}





@media (min-width: 750px) {
    header {
        flex-wrap: nowrap;

    }

    header #menu {
        display: none
    }
    header nav {
        display: flex;
        flex-basis: auto;
        flex-direction: row;
         margin-right: 16px;
    }
    header a{
        
        display: inline;
        border-bottom:none;
        margin-left: 16px;

    }
}




@media(max-width:449px){

  .background-image{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("https://images.pexels.com/photos/258160/pexels-photo-258160.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    height: 54vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }
  .contents{
    padding-top: 3em;
  }
  .green h1{
    font-size: 20px;

  }
  form{

    max-width: 50%;
    
   }

   input{
       font-size: 16px;
       color:rgb(12, 11, 11);
       margin: auto;
   }

   input[type="text"]{
   width: 200px;
   height: 40px;
   background-position: 10px 9px;
   }

   input[type="submit"]{
       height: 40px;
   }



  .contents a{
    margin-top: 18px;
    width: 140px;
    border-radius: 35px;
    padding: 14px;
    background: #c40000;
    text-align: center;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    transition: .5s ease;
  }


  .flex-container{
    display: flex;
    flex-direction: column-reverse;
  }
  .title{
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    width: 100%;
  }
  .box{
    width: 100%;
    height: auto;
  }
  .item1{
    height: 400px;
    flex-basis: 100%;
     
     
  }
  .item1 p{
    font-weight: 400;
    font-size: 15px;
    position: relative;
    left: 5px;
    width: 100%;
  }

  .button{
    left: 30%;
    
  }
  .item2 img{
    width: 100%;
    height: 280px;
    position: relative;
    left: 4px;
    
    
  }



  .item2{
    flex-basis: 100%;
    height: auto;
    
  }
  .cards{
    width: 100%;
    margin-left: 5px;
  }
  
  .card-button{
    position: relative;
    right: 3%;
  }
}

@media(min-width:451px) and (max-width:768px){
 
  .background-image{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("https://images.pexels.com/photos/258160/pexels-photo-258160.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    height: 70vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
  }

  
.main-contents{
  width: 94%;
  margin: 20px auto;
}
.title{
  font-size: 42px;
  
}

.flex-container{
  display: flex;
  flex-wrap:nowrap;
  justify-content: space-evenly;
  

}

.box{
  width: 300px;
  height:auto;

}

.item1{
 flex-basis: 50%;
 
}

.item1 p{
  text-align: justify;
  margin: auto;
  color: black;
  font-size: 19px;
  
}
.button{
  background: #c40000;
  left: 40%;
  position: relative;
  margin-top: 1em;
  
}

.item2{
  flex-basis: 60%;
 

}
.item2 img{
  width: 100%;
  height: 440px;
}





/**********style my flexbox cards**********/
.cards{
  display: flex;
  flex-wrap: nowrap;
  margin: 40px auto;
  width: 94%;
}
.card{
  flex-grow: 1;
  margin: 8px;
  
}
.card img{
  width: 100%;
  height: auto;
}
.text h3{
  font-weight: 600;
  font-size: 20px;
  padding: 2.3px;
}

.text p{
  text-align: unset;
  font-size: 20px;
}
.card-button{
  right: 15%;
  position: relative;
}
}


@media(min-width:769px) and (max-width:1024px){
  .background-image{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("https://images.pexels.com/photos/258160/pexels-photo-258160.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    height: 65vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
  }

  
.main-contents{
  width: 94%;
  margin: 20px auto;
}
.title{
  font-size: 42px;
  
}

.flex-container{
  display: flex;
  flex-wrap:nowrap;
  justify-content: space-evenly;
  

}

.box{
  width: 300px;
  height:auto;

}

.item1{
 flex-basis: 50%;
 
}

.item1 p{
  text-align: justify;
  margin: auto;
  color: black;
  font-size: 19px;
  
}
.button{
  background: #c40000;
  left: 40%;
  position: relative;
  margin-top: 1em;
  
}

.item2{
  flex-basis: 60%;
 

}
.item2 img{
  width: 100%;
  height: 440px;
}





/**********style my flexbox cards**********/
.cards{
  display: flex;
  flex-wrap: nowrap;
  margin: 40px auto;
  width: 94%;
}
.card{
  flex-grow: 1;
  margin: 8px;
  
}
.card img{
  width: 100%;
  height: auto;
}
.text h3{
  font-weight: 600;
  font-size: 20px;
  padding: 2.3px;
}

.text p{
  text-align: unset;
  font-size: 20px;
}
.card-button{
  right: 6%;
  position: relative;
}
}